@import "../base.scss";

.header-strip {
  background: $primary-color;
  color: $white;
  display: flex;
  align-content: center;
  h3 {
    margin: 0;
  }
  .header-strip-wrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    .title-holder {
      display: flex;
      padding: 8px 0;
      align-items: center;
      padding-left: 15px;
      h3 {
        font-size: 14px;
      }
    }
    .latest-article-ticker {
      width: 550px;
      display: flex;
      background: $bg-light-black;
      .header-article {
        position: relative;
        padding: 8px 80px 8px 8px;
      }
    }
  }
}

.site-branding-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 10px 0 0;
  .site-branding-left, .site-branding-right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .site-branding-left {
    left: 0;
    h3 {
      font-size: 16px;
      font-weight: 400;
      padding-left: 10px;
      margin: 0;
      &:first-child {
        padding-right: 10px;
        padding-left: 0;
        border-right: 1px solid #000;
      }
    }
  }
  .site-branding-center {
    margin: 0 auto;
    a {
      font-size: 36px;
      font-weight: bolder;
      color: #000;
      text-decoration: none;
    }
  }
  .site-branding-right {
    margin-left: auto;
    right: 0;
    gap: 25px;
  }
}

.main-navigation {
  background: $white;
  padding: 10px 0;
  box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 10%);
  z-index: -1;
  .navbar-nav {
    gap: 30px;
  }
  .nav-item {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      background: $primary-color;
      border-radius: 50%;
      right: -17px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child:before {
      display: none;
    }
    &:hover .nav-link::before {
      width: 100%;
    }
  }
  .nav-link {
    position: relative;
    padding: 0 !important;
    font-size: 16px;
    &::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #333;
      width: 0;
      height: 1px;
      transition: all 0.5s ease;
    }
  }
}

.search-form {
  input.search-text {
    color: #222;
    position:relative;
    z-index:5;
    transition: z-index 0.8s, width 0.5s, background 0.3s ease, border 0.3s;
    height: 45px;
    width: 0;
    margin: 0;
    padding: 5px 40px 5px 15px;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid transparent;
    background: url('../../icons/search-icon.svg') no-repeat right 9px center transparent;
    background-size:24px;
    &:focus {
      z-index:3; 
      width: 270px;
      border: 1px solid $primary-color;  
      background-color: $white;
      outline: none;
      cursor:auto;
      padding-right: 10px;
    }
  }
  input.search-submit {
    position: relative;
    z-index: 4;
    top:17px;
    right: 49px;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 30px;
    cursor: pointer; 
    background: none;
  }
  input.search-text::-webkit-search-cancel-button {
    cursor:pointer;
  }  
}