@import "../base.scss";

.header-strip {
  background: $primary-color;
  color: $white;
  display: flex;
  align-content: center;
  h3 {
    margin: 0;
  }
  .header-strip-wrapper {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    .title-holder {
      display: flex;
      padding: 8px 0;
      align-items: center;
      padding-left: 15px;
      h3 {
        font-size: 14px;
      }
    }
    .latest-article-ticker {
      width: 550px;
      display: flex;
      background: $bg-light-black;
      .header-article {
        position: relative;
        padding: 8px 80px 8px 8px;
      }
    }
  }
}